body {
    margin: 0;
    font-family: 'PT Sans', sans-serif;
}
h1,h2{
    font-family: "Montserrat", serif;
}
header {
    border-bottom: 1px solid #ccc;
}
html{
    scroll-behavior: smooth;
}
.container {
    display: flex;
    height: 150px;
    flex-direction: row;
}
/* HEADER SECTION */
.logo {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 20%;
    height: 100%;
    font-style: italic;
    font-size: 2.5rem;
    font-weight: bold;
    color: red;
}

.header-components {
    display: flex;
    flex-direction: column;
    width: 80%;
    height: 100%;
}

.row {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0 20px;
}
/* TOP ROW */
.item1 {
    height: 50%;
    display: flex;
    align-items: center;
    justify-content: flex-end;
    gap: 15px;
    padding-right:250px ;
}

.icon {
    display: flex;
    align-items: center;
    font-size: 1rem;
    color: #333;
}

.icon i {
    margin-right: 5px;
    margin-left: 15px;
}

/* Bottom row */
.item2 {
    height: 50%;
    background-color: white;
    display: flex;
    align-items: flex;
    justify-content: space-around;
}

.navbar {
    display: flex;
    gap: 20px;
    list-style: none;
    padding: 0;
    margin: 0;
}

.item2 .navbar li {
    font-size: 1rem;
    font-weight: bold;
    color: #333;
    cursor: pointer;
}

.navbar .nav-link {
    text-decoration: none;
    color: #333;
    padding: 10px 15px;
    border-radius: 20px;
    transition: background-color 0.3s, color 0.3s;
}

.navbar .nav-link:hover {
    background-color: #f8f9fa;
    color: #000;
}

/* Active state */
.navbar .nav-link.active {
    background-color: #DC3636;
    color: white;
}


/* PRICING SECTION */
#pricing{
    display: flex;
    justify-content: center;
    background-color: #ECECEC;
}
#pricing .big-box{
    display: flex;
    flex-direction: column;
    width:80%;
    background-color: #fff;
    margin-top:20px;
    margin-bottom: 20px;
}
#pricing .big-box .top{
    display: flex;
    justify-content: space-around;
}

#pricing .big-box .top .left{
    width: 60%;
    padding-left: 2rem;
}
#pricing .big-box .top .left h1{
    color: #434343;
    font-size: 36px;
    font-family: "Montserrat", serif;
    
}
#pricing .big-box .top .right{
    font-family: 'PT Sans',serif;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    width: 40%;
}

.topics .navbar li{
    font-family:  "PT Sans", serif;
    font-weight: 550;
    padding: 10px 15px;
    border-radius: 25px;
    border-width: 2px;
}
.topics .navbar li i{
    color: rgb(101, 210, 253);
}
.topics .navbar .user{
    border-style: solid;
    border-color: #ccc;
}
.topics .navbar #t1{
    background-color: pink;
}
.topics .navbar #t2{
    background-color: rgb(170, 170, 170);
}

.pricing-table {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    border: 1px solid #ccc;
    border-radius: 10px;
    height: 160px;
    margin-top: 50px;
    margin-bottom: 20px;
}
.table{
    display: inline-flex;
    overflow: hidden;
    margin: 0 auto;
}
.pricing-column {
    display: flex;
    flex-direction: column;
    flex: 1;
    padding: 15px;
    text-align: center;
    border-right: 1px solid #ccc;
}
.pricing-column:last-child {
    border-right: none;
}
.price {
    font-size: 24px;
    padding: 5px 0;
    font-weight: bold;
}
.label {
    font-size: 16px;
    padding: 10px 0;
    color: #666;
}
.sign-up {
    display: block;
    background-color: #DC3636;
    color: white;
    text-align: center;
    border-bottom-right-radius: 10px;
    border-bottom-left-radius: 10px;
    padding: 10px;
    width:200px;
    text-decoration: none;
    font-size: 18px;
    font-weight: bold;
}
.apply{
    display: block;
    font-size: 15px;
    background-color: #fff;
    color: black;
    text-align: center;
    border-radius: 10px;
    margin-bottom: 10px;
    padding: 10px;
    width:220px;
    text-decoration: none;
}
.bottom{
    display: flex;
    align-items: center;
    line-height: 7px;
    height: 100%;
    font-family: 'PT Sans',serif;
}
.bottom .text{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    width: 33%;
    height: 100%;
    
}
.bottom i{
    color: #DC3636;
    padding-right: 4px;
}
.bottom p{
    margin-top: 3px;
}
.bottom span{
    color: #DC3636;
} 
.divider {
    display: flex;
    height: 50px;
    width: 1px;
    background-color: #c1c0c0;
}



/* REVIEW SECTION */
#review{
    display: flex;
    justify-content: center;
    width: 100%;
    /* height: 1000px; */
    background-color: #ECECEC;
}
#review .big-box{
    display: flex;
    width:80%;
    background-color: #fff;
    margin-top:20px;
}
#review .info1{
    color: hsba(0, 0%, 26%, 1);
    font-size: 18px;
    line-height: 28px;
    width:60%;
    padding: 20px;
    margin:20px;
}
#review .info1 .share{
    display: flex;
    margin-bottom: 20px;
    color: grey;
}
#review .info1 i{
    padding: 10px;
}
#review .info1 .line-break{
    border-style:solid;
    border-width:1px ;
    width: 100%;
    border-color: #c1c0c0;
}
#review .info1 h2{
    margin-top: 30px;
    margin-bottom: 30px;
    font-size: 24px;
    font-weight: 900;
}
#review .info1 ul{
    display: flex;
    gap: 20px;
    list-style: none;
    padding: 0;
    margin: 0;
}
#review .info1 .date{
    margin-top: 20px;
    margin-bottom:20px;
    display: flex;
    gap: 20px;
}
#review .info1 p{
    margin: 0;
    padding: 0;
}
#review .info1 span{
    color: rgba(67, 67, 67, 1);
    font-weight: 700;
    font-size: 18px;
}
#review .info2{
    color :hsba(0, 0%, 26%, 1);
    font-size: 18px;
    line-height: 25px;
    width: 40%;
    background-color:#f9e1cd ;
}
#review .info2 p{
    margin: 50px;
    margin-top: 0;
}
#review .info2 span{
    font-weight: bold;
    color: rgb(34, 179, 236);
}
#review .info2 img{
    margin-top: 40px;
    margin-bottom:40px;
    border-radius: 50%;
}
#review .info2 .photo{
    display: flex;
    width: 100%;
    justify-content: center;
}
#review .info2 .btn-review{
    display: block;
    font-size: 18px;
    background-color: #fff;
    color: rgba(220, 54, 54, 1);
    border-color: rgba(220, 54, 54, 1);
    text-align: center;
    border-radius: 20px;
    margin-left: 50px;
    padding: 10px;
    width:200px;
}

/* Quote Section */

#quotes{
    display: flex;
    justify-content: center;
    width: 100%;
    background-color: #ECECEC;
}
#quotes .big-box{
    display: flex;
    justify-content: center;
    align-items: center;
    overflow: hidden;
    width:80%;
    background-image:url(quote-bg.jpg) ;
    background-position: 50% 50%;
    background-size: 100%;
    height: 250px;
    
    margin-bottom: 20px;
}

#quotes .quote-box{
    display: flex;
    justify-content: space-around;
    overflow: hidden;
    align-items: center;
    width: 60%;
    height: 70%;
    border-radius: 10px;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
    background-color: #fff;
}
#quotes .quote-text{
    display: flex;
    flex-direction: column;
    text-align: center;
    font-size: 24px;
    font-weight: 400;
    line-height: 34px;
    color: rgba(67, 67, 67, 1);
    font-style: italic;
    align-items: center;
    justify-content: center;
}
#quotes .quote-text p{
    margin: 0;
}
#quotes .quote-text .author{
    font-size: 18px;
    font-weight: 700;
    line-height: 26px;
}
#quotes .symbol{
    margin-top: 18%;
    font-size: 130px;
    line-height: 200px;
    padding: 0 50px;
    color: rgba(0, 172, 180, 1);
}
.carousel{
    display: flex;
    width: 85%;
    height: 75%;
    overflow: hidden;
}
.carousel-slides {
    display: flex;
    align-items: center;
    transition: transform 0.5s ease-in-out;
    width:100%;
}
.carousel-slide {
    min-width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}

.carousel-nav {
    background-color: transparent;
    color: white;
    border: none;
    padding: 10px 15px;
    cursor: pointer;
    z-index: 2;
    font-size: 1.5rem;
}

.carousel-nav.prev {
    right: 10px;
}

.carousel-nav.next {
    left: 10px;
    
}

/* CLASSES SECTION */
#classes{
    display: flex;
    justify-content: center;
    width: 100%;
    background-color: #ECECEC;
}
#classes .big-box{
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: flex-start;
    overflow: hidden;
    width:80%;
    background-color: #fff;
    background-position: 50% 50%;
    background-size: 100%;
    margin-bottom: 20px;
}
#classes h2{
    margin-top:40px;
    margin-left:5% ;
    font-size: 24px;
    color: rgba(67, 67, 67, 1);
    font-weight: 900;
}
#classes .box{
    display: flex;
    justify-content: space-between;
    margin:0 5%;
    width: 90%;
    margin-bottom:40px;
}
#classes .c1{
    width: 33%;
    font-size: 18px;
    font-weight: 400;
    color: rgba(67, 67, 67, 1);
}
#classes .l{
    width: 33%;
    font-size: 18px;
    font-weight: 400;
    color: rgba(220, 54, 54, 1);
}

/* POLICY SECTION */

#policy{
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 100%;
    height:300px;
}
#policy .box{
    font-size: 18px;
    font-weight: 400;
    color: rgba(67, 67, 67, 1);
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    width: 80%;
}
#policy .email{
    color: rgb(33, 185, 246);
}
#policy .faq{
    display: flex;
    justify-content: flex-start;
}
#policy .faq a{
    text-decoration: none;
    color:rgba(220, 54, 54, 1) ;
    margin-right:20px;
}
#policy .line-break{
    border-style:solid;
    border-width:1px ;
    margin:50px 0;
    width: 80%;
    border-color: #c1c0c0;
}
#policy .row{
    width: 100%;
    display: flex;
    justify-content: flex-start;
    padding-left: 0;
    margin-bottom: 60px;
}
#policy .col{
    width: 25%;
    padding-right: 5% ;
}
#policy .red{
    color: rgba(220, 54, 54, 1);
}

/* FOOTER */
footer{
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 100%;
    height:300px;
}